* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Winky Rough", sans-serif;
    background-color: rgb(251, 111, 251);
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.navbar__brand {
    width: 100px;
}

.navbar__logo {
    width: 100px;
}

.nav__item{
    background-image: linear-gradient(
        to right,
        #ff512f 0%,
        #dd2476 51%,
        #ff512f 100%
    );
    color: aliceblue;
    border: none;
    padding: 12px;
    border-radius: 6px;
    cursor: pointer;
}

.nav__item:hover{
    border: 2px seagreen;
}
@media (min-width:768px) {
    .navbar {
        justify-content: space-between;
        padding: 10px 30px;
    }
}

@media (min-width: 1020px) {
    .navbar__brand {
        width: 150px;
    }
    .nav__item {
        padding: 20px;
    }
}